html {
    height: 100vh;
}

body, body #ROOT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p, h1, h2, h3, h4, h5, h6, a {
    width: 7vw;
    text-align: center;
}

input, label {
    text-align: center;
}

input {
    margin-bottom: 1rem !important;
    width: 15rem !important;
    height: 2.5rem !important;
}

button {
    margin: 1rem !important;
    width: 12vw;
    cursor: pointer;
}

body #Status {
    border-bottom: 0.1rem solid #000000;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    place-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2%;
    
}

body #Status p span {
    color: var(--bs-primary);
}